body {
  background-color: rgba(133, 131, 14, 0.349);
  font-family: 'Josefin Slab';
  font-weight: 300;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-family: 'Josefin Sans';
}
header {
  text-align: center;
}

#main-image {
  margin: 0 auto;
  border: solid black 2px;
  width:  400px; 
  height: auto;
}

#page-heading {
  font-weight: 600;
  font-size: 3em;
  text-align: center;
  padding-top: 15px;
  background-color: rgba(238, 234, 20, 0.514);
}
#recipe-directory-list {
  
  color: blueviolet;
  font-size: .72em;
  padding: 0;
  
}
#directory-heading {
  display: inline-block;
  border-bottom: black 2px solid;
  margin-bottom: 12px;
  padding: 14px;
  text-align: center;

}
section#recipe-directory {
  color: purple;
  text-align: center;
}
.recipe-links {
  list-style-type: none;
  margin: 10px auto;
}

#main-content {
  color: black;
  padding: 20px;
}